# تجاهل مجلد البيئة الافتراضية (سواء كان اسمه venv أو .venv)
venv/
.venv/
env/

# تجاهل ملفات الكاش الخاصة ببايثون
**/__pycache__/
*.pyc

# تجاهل ملفات النظام وقواعد البيانات المحلية (اختياري ولكن ينصح به)
db.sqlite3
.DS_Store
.env