asgiref==3.11.1
certifi==2026.5.20
charset-normalizer==3.4.7
Django==5.2.15
django-ckeditor==6.7.3
django-js-asset==4.0.1
django-modeltranslation==0.20.3
django-rosetta==0.10.3
django-sortedm2m==4.0.0
djangorestframework==3.17.1
idna==3.18
pillow==12.2.0
polib==1.2.0
psycopg2==2.9.12
python-decouple==3.8
requests==2.34.2
sqlparse==0.5.5
typing_extensions==4.15.0
urllib3==2.7.0
